accelerate==1.10.0
codecarbon==3.0.4
datasets==4.0.0
diffusers==0.32.0
huggingface-hub>=0.34.4
transformers>=4.57.1
librosa==0.10.1
omegaconf==2.3.0
pandas>=2.0.0
tiktoken>=0.12.0
einops
ai_energy_benchmarks==0.0.4
